<app-sidebar [sideBarStatus]="sidebarOpen"></app-sidebar>
<app-backdrop [sideBarStatus]="sidebarOpen" (closeBackdrop)="closeBackdrop()"></app-backdrop>
<nav class="nav-bar">
  <div class="nav-container">
      <div class="logo">BookStore</div>
        <div class="menu" (click)="toggleSidebar()"> 
          <div></div>
          <div></div>
          <div></div>
        </div>
      <div class="nav-links">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
  </div>
</nav>
