.sidebar {
    position: fixed;
    width: 25rem;
    max-width: 70%;
    height: 100%;
    top: 6rem;
    left: 0;
    z-index: 200;
    background-color: #474747;
    padding: 3.5rem 2.5rem;
    transition: transform .2s ease-in;
}

.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(-100%);
}

.nav-links > ul {
    list-style: none;
}

.nav-links > ul > li{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}

.nav-links > ul > li:hover {
    color: #34c2e2;
}